<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['create']" [routerLinkActive]="['active']">Crear producto</a>
      <a mat-list-item [routerLink]="['info-table']" [routerLinkActive]="['active']">Tabla</a>
      <a mat-list-item [routerLink]="['dashboard']" [routerLinkActive]="['active']">dashboard</a>
      <a mat-list-item [routerLink]="['products']" [routerLinkActive]="['active']">Lista de productos</a>
      <a mat-list-item [routerLink]="['/home']" [routerLinkActive]="['active']">Salir de la administracion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>arbol-store</span>
    </mat-toolbar>
    <!-- Contenido que se encarga de cargar las rutas dinámicamente -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
