<div id="footer">
    <div class="menu-footer">
        <ul>
            <li>
                <a routerLink="home">Inicio</a>
            </li>
            <li>
                <a routerLink="products">Products</a>
            </li>
            <li>
                <a routerLink="servicios">Servicios</a>
            </li>
            <li>
                <a routerLink="contact">Contacto</a>
            </li>
            <li>
                <a routerLink="pruebas">Testing</a>
            </li>
        </ul>
    </div>
    <div class="info-footer">
        <h3>Desarrollado Por Víctor Anizar (Arbol)</h3>
    </div>
    <div class="info2-footer">
        <h3>Elaborado con</h3>
        <ul>
            <li>
                <img src="../../../assets/images/icons8-angularjs-48.png" alt="Angular">
            </li>
            <li>
                <img src="../../../assets/images/icons8-sass-48.png" alt="SASS">
            </li>
        </ul>
    </div>
</div>