.active{
    text-decoration: underline;
    color: black !important;
}
#header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    #logo{
        flex-basis: 5%;
        img{
            width: 100%;
            transition: all 300ms;
        }
        img:hover{
            transform: scale(1.1);
        }
    }
    #menu{
        flex-basis: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li{
            transition: all 200ms;
            margin: 10px;
            a{
                color: cadetblue;
                font-family: 20px;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        li:hover{
            transform: scale(1.1);
        }
    }
}