<h2>{{ product.title | uppercase }}</h2>
<img src="{{product.image}}" alt="">
<h4 appHighlight="product.price<8000">{{product.price  | exponential | currency }}</h4>

<p>{{product.description | slice:0:10}}</p>
<button id="add-cart" (click)="addCart()" mat-raised-button color="accent">Agregar al carrito</button>
<button id="delete-cart" (click)="ngOnDestroy()" mat-raised-button color="warn">Eliminar producto</button> 
<button id="details" routerLink="/products/{{product.id}}" mat-raised-button>Detalles</button>