:host{
    border-radius: 5px ;
    display:block;
    text-align: center;
}
#cabecera-prods{    
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    mat-card-title{
        margin-top: 10px;
    }
}

#botones{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    *{
        border: 1px solid white;
        width: 85%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

