<br>
<div id="comidas">
  <app-meal-card *ngFor="let i of comidasArray" [comida]=i></app-meal-card>  
</div>

<br>
<hr>

<h2>Sumando dos numeros</h2>


<div id="sumas">
  <label for="numero1"></label>
  <input type="number" name="numero1" [(ngModel)]="numero1" [min]=0>
  <h3>+</h3>
  <label for="numero2"></label>
  <input type="number" name="numero2" [(ngModel)]="numero2" [min]=0>
  <h3>=</h3>
  <p>{{numero1 | sumaPipe: numero2}}</p>
</div>
<hr>
<h1>Cambiando titulo</h1>
<input type="text" [(ngModel)]="title">
{{ title }}

<div *ngIf="title === 'nicolas' ">
  Div
</div>
<div [ngSwitch]="title">
  <p *ngSwitchCase="'pizza'">Una pizza</p>
  <p *ngSwitchCase="'arepa'">Una arepa</p>
  <p *ngSwitchCase="'elote'">Un elote</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<hr>
<h1>Mostrando arreglo</h1>
<h2>Agregar item</h2>
<button type="submit" (click)="addItem()">Agregar elemento al arreglo</button>

<ul>
  <li *ngIf="(items.length) == 0">Lista vacia</li>
  <li *ngFor="let item of items; index as i">
    {{i}}->{{item}} <button type="submit" (click)="deleteItem(i)">Eliminar elemento</button>
  </li>
</ul>

<hr>
<h1>Mostrando objeto</h1>
<div *ngIf="objetoPrueba">
  <ul>
    <li>
      {{objetoPrueba | json }}
    </li>
  </ul>
</div>

<div class="product-grid">
  <!-- <h2>{{i.title}}</h2>
    <img src="{{i.image}}" alt="" width="100px">
    <h4>{{i.price}}</h4> -->
  <app-product *ngFor="let i of products" [product]="i"></app-product>
</div>
<br>
<hr>

<br>
<!-- <app-meal-card *ngIf="comidaaa" [comida]="comidaaa"></app-meal-card> -->

