<h1>Contacto</h1>
<form class="cmxform" id="commentForm" method="GET" action="">
    <div id="campo_nombre">
        <label for="input_nombre_contacto">Nombre:</label>
        <input type="text" name="input_nombre_contacto" id="input_nombre_contacto">
    </div>
    <div id="campo_email">
        <label for="input_email_contacto">Email</label>
        <input type="email" name="input_email_contacto" id="input_email_contacto">
    </div>
    <div id="campo_mensaje">
        <label for="input_mensaje_contacto">Mensaje</label>
        <textarea type="text" name="input_mensaje_contacto" id="input_mensaje_contacto"></textarea>
    </div>
    <div id="boton_enviar">
        <button type="submit" id="button_enviar">Enviar</button>
    </div>
</form>