.active{
    text-decoration: underline;
    color: gray !important;
}
#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(47, 47, 47);
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    #logo{
        background: radial-gradient(closest-side, whitesmoke, #ebf8e1, rgb(47, 47, 47));
        border-radius: 100%;
        padding: 20px;
        flex-basis: 5%;
        img{
            width: 100%;
            transition: all 300ms;
        }
        img:hover{
            transform: scale(1.1);
        }
    }
    
    #menu{
        flex-basis: 80%;
        display: flex;
        justify-content: right;
        align-items: center;
        list-style: none;
        color: aliceblue;
        margin-right: 30px;
        #boton-menu{
            font-size: 25px;
            margin-right: 50px !important;
            border-radius: 5px !important;
        }
        mat-menu{
            color: aliceblue;
            button{
                a{
                   
                    font-size: 20px;
                    width: 100%;
                    border-radius: 5px;
                    display: block;
                    text-decoration: none;
                    transition: all 300ms;
                }
            }
        }
        
    }
}