<nav id="header">
    <div id="logo">
        <a [routerLink]="['home']"><img src="../../../assets/images/icons8-tree-64.png" alt=""></a>
    </div>
    <ul id="menu">
        <li><a [routerLink]="['home']" [routerLinkActive]="['active']">Home</a></li>
        <li><a [routerLink]="['products']" [routerLinkActive]="['active']">Products</a></li>
        <li><a [routerLink]="['servicios']" [routerLinkActive]="['active']">Servicios</a></li>
        <li><a [routerLink]="['contact']" [routerLinkActive]="['active']">Contact</a></li>
        
    </ul>
</nav>
