<nav id="header">
    <div id="logo">
        <a [routerLink]="['home']"><img src="assets/images/icons8-tree-64.png" alt=""></a>
    </div>


    

    <div id="menu">
        <!-- <button  mat-button [matMenuTriggerFor]="menu">Menu</button> -->
        <button id="boton-menu" mat-fab [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button  mat-menu-item><a mat-button color="accent" [routerLink]="['home']" [routerLinkActive]="['active']">Home</a></button>
            <button  mat-menu-item><a mat-button color="accent" [routerLink]="['products']" [routerLinkActive]="['active']">Products</a></button>
            <button  mat-menu-item><a mat-button color="accent" [routerLink]="['servicios']" [routerLinkActive]="['active']">Servicios</a></button>
            <button  mat-menu-item><a mat-button color="accent" [routerLink]="['contact']" [routerLinkActive]="['active']">Contact</a></button>
            <button  mat-menu-item><a mat-button color="accent" [routerLink]="['admin']" [routerLinkActive]="['active']">Administración</a></button>

        </mat-menu>
        <a mat-raised-button matBadge="{{contadorProds}}" matBadgePosition="after" matBadgeColor="accent" [routerLink]="['cart']"><mat-icon>shopping_cart</mat-icon>Carrito</a>
    </div>
</nav>